MaybeARenderer6/.vs/MaybeARenderer6/FileContentIndex/24ed6473-1448-4f65-89fd-e31bc94f7bfc.vsidx
MaybeARenderer6/.vs/MaybeARenderer6/FileContentIndex/24ed6473-1448-4f65-89fd-e31bc94f7bfc.vsidx
*.vsidx
*.ipch
.ipch/
MaybeARenderer6/.vs/MaybeARenderer6/CopilotIndices/0.2.1653.9816/CodeChunks.db
MaybeARenderer6/.vs/MaybeARenderer6/CopilotIndices/0.2.1653.9816/CodeChunks.db
MaybeARenderer6/.vs/MaybeARenderer6/CopilotIndices/0.2.1653.9816/CodeChunks.db-shm
MaybeARenderer6/.vs/MaybeARenderer6/CopilotIndices/0.2.1653.9816/CodeChunks.db-wal
MaybeARenderer6/.vs/MaybeARenderer6/CopilotIndices/0.2.1653.9816/SemanticSymbols.db
MaybeARenderer6/.vs/MaybeARenderer6/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
MaybeARenderer6/.vs/MaybeARenderer6/v17/.suo
MaybeARenderer6/.vs/MaybeARenderer6/v17/Browse.VC.db
MaybeARenderer6/.vs/MaybeARenderer6/v17/Browse.VC.db-shm
MaybeARenderer6/.vs/MaybeARenderer6/v17/Browse.VC.db-wal
MaybeARenderer6/.vs/MaybeARenderer6/v17/Browse.VC.opendb
MaybeARenderer6/.vs/MaybeARenderer6/v17/DocumentLayout.backup.json
MaybeARenderer6/.vs/MaybeARenderer6/v17/DocumentLayout.json
MaybeARenderer6/.vs/MaybeARenderer6/v17/Solution.VC.db
MaybeARenderer6/MaybeARenderer6/x64/Debug/MaybeARenderer6.ilk
MaybeARenderer6/MaybeARenderer6/x64/Debug/MaybeARenderer6.log
MaybeARenderer6/MaybeARenderer6/x64/Debug/vc143.pdb
MaybeARenderer6/x64/Debug/MaybeARenderer6.exe
MaybeARenderer6/x64/Debug/MaybeARenderer6.pdb
MaybeARenderer6/.vs/MaybeARenderer6/CopilotIndices/0.2.1653.9816/CodeChunks.db
MaybeARenderer6/.vs/MaybeARenderer6/CopilotIndices/0.2.1653.9816/SemanticSymbols.db
MaybeARenderer6/.vs/MaybeARenderer6/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
MaybeARenderer6/.vs/MaybeARenderer6/v17/.suo
MaybeARenderer6/.vs/MaybeARenderer6/v17/Browse.VC.db
MaybeARenderer6/.vs/MaybeARenderer6/v17/DocumentLayout.backup.json
MaybeARenderer6/.vs/MaybeARenderer6/v17/DocumentLayout.json
MaybeARenderer6/.vs/MaybeARenderer6/v17/Solution.VC.db
MaybeARenderer6/MaybeARenderer6/x64/Debug/MaybeARenderer6.ilk
MaybeARenderer6/MaybeARenderer6/x64/Debug/MaybeARenderer6.log
MaybeARenderer6/MaybeARenderer6/x64/Debug/vc143.pdb
MaybeARenderer6/x64/Debug/MaybeARenderer6.exe
MaybeARenderer6/x64/Debug/MaybeARenderer6.pdb
MaybeARenderer6/.vs/MaybeARenderer6/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
/MaybeARenderer6/.vs/MaybeARenderer6/CopilotIndices
*.db-shm
*.tlog
*.obj
*.ilk
*.db



